@model List<Models.ViewModels.EditorIndividualViewModel>
@{
    string[] indFields = new string[] { "Fullname", "Identification code", "Work position", "Workplace", "Birthday", "Birthplace", "Residence", "Series", "Court name", "Court case number", "Court sentence date", "Court sentence number", "Court sentence applying date", "Criminal record cancellation date", "Criminal record cancellation reason", "Criminal action type", "Criminal action cancellation date", "Criminal action cancellation reason", "Disciplinary action type", "Disciplinary action details", "Disciplinary action cancellation date", "Disciplinary action cancellation reason", "Article number", "Article title", "Article content", "Offence description", "Offence method", "Offence location", "Passport issuing authority" };
}

@if (Model.Count() > 0)
{
    <div id="individualItemsList" style="text-align: center;">
        <table id="tableIndData" class="cell-border hover compact">
            <thead>
                <tr>
                    @for (int i = 0; i < indFields.Length; ++i)
                    {
                        <th>@indFields[i]</th>
                    }
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.GetHashCode()" onclick="expandRow(this.id)">
                        <td>
                            @item.FirstName @item.LastName @item.MiddleName
                        </td>
                        <td>@item.IdentificationCode</td>
                        <td>@item.WorkPosition</td>
                        <td>@item.Workplace</td>
                        <td>@item.Birthday.Value.Date.ToShortDateString()</td>
                        <td>@item.Birthplace</td>
                        <td>@item.Residence</td>
                        <td>@item.Series</td>
                        <td>@item.CourtName</td>
                        <td>@item.CourtCaseNumber</td>
                        <td>@item.CourtSentenceDate.Value.Date.ToShortDateString()</td>
                        <td>@item.CourtSentenceNumber</td>
                        <td>@item.CourtSentenceApplyingDate.Value.Date.ToShortDateString()</td>
                        <td>@(item.CriminalRecordCancellationDate.HasValue ? item.CriminalRecordCancellationDate.Value.Date.ToShortDateString() : "")</td>
                        <td>@item.CriminalRecordCancellationReason</td>
                        <td>@item.CriminalActionType</td>
                        <td>@(item.CriminalActionCancellationDate.HasValue ? item.CriminalActionCancellationDate.Value.Date.ToShortDateString() : "")</td>
                        <td>@item.CriminalActionCancellationReason</td>
                        <td>@item.DisciplinaryActionType</td>
                        <td>@item.DisciplinaryActionDetails</td>
                        <td>@(item.DisciplinaryActionCancellationDate.HasValue ? item.DisciplinaryActionCancellationDate.Value.Date.ToShortDateString() : "")</td>
                        <td>@item.DisciplinaryActionCancellationReason</td>
                        <td>@item.ArticleNumber</td>
                        <td>@item.ArticleTitle</td>
                        <td>@item.ArticleContent</td>
                        <td>@item.OffenceDescription</td>
                        <td>@item.OffenceMethod</td>
                        <td>@item.OffenceLocation</td>
                        <td>@item.UnitName, code: @item.Code, department name: @item.DepartmentName, address: @item.PostalCode, @item.City, @item.Street, @item.BuildingNumber</td>
                        <td>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <a asp-action="UpsertIndividual" class="btn btn-primary" asp-route-individualId="@item.IdIndividual"><i class="bi bi-pencil-square"></i> Edit</a>
                                    </div>
                                    <div class="col">
                                        <a class="btn btn-danger mt-1" onclick="deleteAlert('/Registrator/Home/Delete?pccoId=@item.IdPcco', 'tableIndData')"><i class="bi bi-trash-fill"></i> Delete</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div style="text-align: center">
        <h4>No results found matching your search.</h4>
    </div>
}

<script src="~/js/datatables/registratorIndTable.js"></script>