@model PCCO.Models.ViewModels.EditorLegalViewModel
@{
    ViewBag.Title = "Edit Legal";
}

<form asp-action="EditLegal" asp-controller="Home" asp-area="Registrator" method="post">
    <div class="raw">
        <div class="column">
            @Html.LabelFor(m => m.Name)
            <br />
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
            <br /><br />
            @Html.LabelFor(m => m.IdentificationCode)
            <br />
            @Html.TextBoxFor(m => m.IdentificationCode)
            @Html.ValidationMessageFor(m => m.IdentificationCode)
            <br /><br />
            @Html.LabelFor(m => m.LegalForm)
            <br />
            @Html.TextBoxFor(m => m.LegalForm)
            @Html.ValidationMessageFor(m => m.LegalForm)
            <br /><br />
            @Html.LabelFor(m => m.IsResident)
            <br />
            @Html.CheckBoxFor(m => m.IsResident, true)
            @Html.ValidationMessageFor(m => m.IsResident)
            <br /><br />
            @Html.LabelFor(m => m.CourtName)
            <br />
            @Html.TextBoxFor(m => m.CourtName)
            @Html.ValidationMessageFor(m => m.CourtName)
            <br /><br />
            @Html.LabelFor(m => m.CourtCaseNumber)
            <br />
            @Html.TextBoxFor(m => m.CourtCaseNumber)
            @Html.ValidationMessageFor(m => m.CourtCaseNumber)
            <br /><br />
            @Html.LabelFor(m => m.CourtSentenceDate)
            <br />
            @Html.TextBoxFor(m => m.CourtSentenceDate, new {type="date"})
            @Html.ValidationMessageFor(m => m.CourtSentenceDate)
            <br /><br />
            @Html.LabelFor(m => m.CourtSentenceNumber)
            <br />
            @Html.TextBoxFor(m => m.CourtSentenceNumber)
            @Html.ValidationMessageFor(m => m.CourtSentenceNumber)
        </div>
        <div class="column">
            @Html.LabelFor(m => m.CourtSentenceApplyingDate)
            <br />
            @Html.TextBoxFor(m => m.CourtSentenceApplyingDate, new {type="date"})
            @Html.ValidationMessageFor(m => m.CourtSentenceApplyingDate)
            <br /><br />
            @Html.LabelFor(m => m.CriminalRecordCancellationDate)
            <br />
            @Html.TextBoxFor(m => m.CriminalRecordCancellationDate)
            @Html.ValidationMessageFor(m => m.CriminalRecordCancellationDate)
            <br /><br />
            @Html.LabelFor(m => m.CriminalRecordCancellationReason)
            <br />
            @Html.TextBoxFor(m => m.CriminalRecordCancellationReason)
            @Html.ValidationMessageFor(m => m.CriminalRecordCancellationReason)
            <br /><br />
            @Html.LabelFor(m => m.CriminalActionType)
            <br />
            @Html.TextBoxFor(m => m.CriminalActionType)
            @Html.ValidationMessageFor(m => m.CriminalActionType)
            <br /><br />
            @Html.LabelFor(m => m.CriminalActionCancellationDate)
            <br />
            @Html.TextBoxFor(m => m.CriminalActionCancellationDate, new {type="date"})
            @Html.ValidationMessageFor(m => m.CriminalActionCancellationDate)
            <br /><br />
            @Html.LabelFor(m => m.CriminalActionCancellationReason)
            <br />
            @Html.TextBoxFor(m => m.CriminalActionCancellationReason)
            @Html.ValidationMessageFor(m => m.CriminalActionCancellationReason)
            <br /><br />
            @Html.LabelFor(m => m.DisciplinaryActionType)
            <br />
            @Html.TextBoxFor(m => m.DisciplinaryActionType)
            @Html.ValidationMessageFor(m => m.DisciplinaryActionType)
            <br /><br />
            @Html.LabelFor(m => m.DisciplinaryActionDetails)
            <br />
            @Html.TextBoxFor(m => m.DisciplinaryActionDetails)
            @Html.ValidationMessageFor(m => m.DisciplinaryActionDetails)
        </div>
        <div class="column">
            @Html.LabelFor(m => m.DisciplinaryActionCancellationDate)
            <br />
            @Html.TextBoxFor(m => m.DisciplinaryActionCancellationDate, new {type="date"})
            @Html.ValidationMessageFor(m => m.DisciplinaryActionCancellationDate)
            <br /><br />
            @Html.LabelFor(m => m.DisciplinaryActionCancellationReason)
            <br />
            @Html.TextBoxFor(m => m.DisciplinaryActionCancellationReason)
            @Html.ValidationMessageFor(m => m.DisciplinaryActionCancellationReason)
            <br /><br />
            @Html.LabelFor(m => m.ArticleNumber)
            <br />
            @Html.TextBoxFor(m => m.ArticleNumber)
            @Html.ValidationMessageFor(m => m.ArticleNumber)
            <br /><br />
            @Html.LabelFor(m => m.ArticleTitle)
            <br />
            @Html.TextBoxFor(m => m.ArticleTitle)
            @Html.ValidationMessageFor(m => m.ArticleTitle)
            <br /><br />
            @Html.LabelFor(m => m.ArticleContent)
            <br />
            @Html.TextBoxFor(m => m.ArticleContent)
            @Html.ValidationMessageFor(m => m.ArticleContent)
            <br /><br />
            @Html.LabelFor(m => m.OffenceDescription)
            <br />
            @Html.TextBoxFor(m => m.OffenceDescription)
            @Html.ValidationMessageFor(m => m.OffenceDescription)
            <br /><br />
            @Html.LabelFor(m => m.OffenceMethod)
            <br />
            @Html.TextBoxFor(m => m.OffenceMethod)
            @Html.ValidationMessageFor(m => m.OffenceMethod)
            <br /><br />
            @Html.LabelFor(m => m.OffenceLocation)
            <br />
            @Html.TextBoxFor(m => m.OffenceLocation)
            @Html.ValidationMessageFor(m => m.OffenceLocation)
            @Html.HiddenFor(m => m.IdPcco)
            @Html.HiddenFor(m => m.IsActive)
        </div>
    </div>
    <div>
        <button type="submit" class="search-btn subscribe btn btn-primary btn-block shadow-sm"> Save </button>
    </div>
</form>