@model PCCO.Models.ViewModels.EditorViewModel

@{
    ViewBag.Title = "Registrator";
    string[] indFields = new string[] { "Fullname", "Identification code", "Work position", "Workplace", "Birthday", "Birthplace", "Residence", "Series", "Court name", "Court case number", "Court sentence date", "Court sentence number", "Court sentence applying date", "Criminal record cancellation date", "Criminal record cancellation reason", "Criminal action type", "Criminal action cancellation date", "Criminal action cancellation reason", "Disciplinary action type", "Disciplinary action details", "Disciplinary action cancellation date", "Disciplinary action cancellation reason", "Article number", "Article title", "Article content", "Offence description", "Offence method", "Offence location", "Passport issuing authority" };
    string[] legFields = new string[] { "Name", "Identification code", "Legal form", "Is resident", "Court name", "Court case number", "Court sentence date", "Court sentence number", "Court sentence applying date", "Criminal record cancellation date", "Criminal record cancellation reason", "Criminal action type", "Criminal action cancellation date", "Criminal action cancellation reason", "Disciplinary action type", "Disciplinary action details", "Disciplinary action cancellation date", "Disciplinary action cancellation reason", "Article number", "Article title", "Article content", "Offence description", "Offence method", "Offence location" };
    string indStyle = "none"; string legStyle = "none"; string noDataStyle = "";

    if (Model.Individual.Count() > 0)
    {
        indStyle = "";
        noDataStyle = "none";
    }
    else if (Model.Legal.Count() > 0)
    {
        legStyle = "";
        noDataStyle = "none";
    }

    if (ViewBag.NoData != null)
        noDataStyle = "none";
}

<div class="container py-5">
    <div class="pt-4 pl-2 pr-2 pb-2" style="width: 400px; margin: 0 auto;">
        <ul class="nav rounded nav-fill mb-3">
            <a asp-action="UpsertIndividual" class="nav-item btn btn-primary mx-2">Create Individual</a>
            <a asp-action="UpsertLegal" class="nav-item btn btn-primary mx-2" style="padding: 6px 27px 6px 27px;">Create Legal</a>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card">
                <div class="card-header pt-4">
                    <div class="bg-white shadow-sm pl-2 pr-2">
                        <ul class="nav nav-pills mb-3 rounded nav-fill" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-individual-tab" data-bs-toggle="pill" data-bs-target="#pills-individual" type="button" role="tab" aria-controls="pills-individual" aria-selected="true"> Individual </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-legal-tab" data-bs-toggle="pill" data-bs-target="#pills-legal" type="button" role="tab" aria-controls="pills-legal" aria-selected="false"> Legal </button>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="pills-tabContent" style="text-align:left">
                        <div class="tab-pane fade show active" id="pills-individual" role="tabpanel" aria-labelledby="pills-individual-tab">
                            <form asp-action="Index" asp-controller="Home" asp-area="Registrator" method="get" onsubmit="showIndividualFunc()">
                                @await Html.PartialAsync("_PartialSearchInd")
                            </form>
                        </div>

                        <div class="tab-pane fade" id="pills-legal" role="tabpanel" aria-labelledby="pills-legal-tab">
                            <form asp-action="Index" asp-controller="Home" asp-area="Registrator" method="get" onsubmit="showLegalFunc()">
                                @await Html.PartialAsync("_PartialSearchLeg")
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="individualItemsList" style="display:@indStyle; text-align: center;">
    <table id="tableIndData" class="cell-border hover">
        @if (Model.Individual.Count() != 0)
        {
            <thead>
                <tr>
                    @for (int i = 0; i < indFields.Length; ++i)
                    {
                        <th>@indFields[i]</th>
                    }
                    <th>Actions</th>
                </tr>
            </thead>

            foreach (var item in Model.Individual)
            {
                <tbody>
                    <tr id="@item.GetHashCode()" onclick="expandRow(this.id)">
                        <td>
                            @Html.DisplayFor(modelitem => item.FirstName)
                            @Html.DisplayFor(modelitem => item.LastName)
                            @Html.DisplayFor(modelitem => item.MiddleName)
                        </td>
                        <td>@Html.DisplayFor(modelitem => item.IdentificationCode)</td>
                        <td>@Html.DisplayFor(modelitem => item.WorkPosition)</td>
                        <td>@Html.DisplayFor(modelitem => item.Workplace)</td>
                        <td>@Html.DisplayFor(modelitem => item.Birthday)</td>
                        <td>@Html.DisplayFor(modelitem => item.Birthplace)</td>
                        <td>@Html.DisplayFor(modelitem => item.Residence)</td>
                        <td>@Html.DisplayFor(modelitem => item.Series)</td>
                        <td>@Html.DisplayFor(modelitem => item.CourtName)</td>
                        <td>@Html.DisplayFor(modelitem => item.CourtCaseNumber)</td>
                        <td>@Html.DisplayFor(modelitem => item.CourtSentenceDate)</td>
                        <td>@Html.DisplayFor(modelitem => item.CourtSentenceNumber)</td>
                        <td>@Html.DisplayFor(modelitem => item.CourtSentenceApplyingDate)</td>
                        <td>@Html.DisplayFor(modelitem => item.CriminalRecordCancellationDate)</td>
                        <td>@Html.DisplayFor(modelitem => item.CriminalRecordCancellationReason)</td>
                        <td>@Html.DisplayFor(modelitem => item.CriminalActionType)</td>
                        <td>@Html.DisplayFor(modelitem => item.CriminalActionCancellationDate)</td>
                        <td>@Html.DisplayFor(modelitem => item.CriminalActionCancellationReason)</td>
                        <td>@Html.DisplayFor(modelitem => item.DisciplinaryActionType)</td>
                        <td>@Html.DisplayFor(modelitem => item.DisciplinaryActionDetails)</td>
                        <td>@Html.DisplayFor(modelitem => item.DisciplinaryActionCancellationDate)</td>
                        <td>@Html.DisplayFor(modelitem => item.DisciplinaryActionCancellationReason)</td>
                        <td>@Html.DisplayFor(modelitem => item.ArticleNumber)</td>
                        <td>@Html.DisplayFor(modelitem => item.ArticleTitle)</td>
                        <td>@Html.DisplayFor(modelitem => item.ArticleContent)</td>
                        <td>@Html.DisplayFor(modelitem => item.OffenceDescription)</td>
                        <td>@Html.DisplayFor(modelitem => item.OffenceMethod)</td>
                        <td>@Html.DisplayFor(modelitem => item.OffenceLocation)</td>
                        <td>
                            @Html.DisplayFor(modelitem => item.UnitName),
                            code: @Html.DisplayFor(modelitem => item.Code),
                            department name: @Html.DisplayFor(modelitem => item.DepartmentName),
                            address: @Html.DisplayFor(modelitem => item.PostalCode),
                            @Html.DisplayFor(modelitem => item.City),
                            @Html.DisplayFor(modelitem => item.Street),
                            @Html.DisplayFor(modelitem => item.BuildingNumber)
                        </td>
                        <td>
                            <a asp-action="UpsertIndividual" class="btn btn-primary mb-1" asp-route-individualId="@item.IdIndividual"><i class="bi bi-pencil-square"></i> Edit</a>
                            <a class="btn btn-danger" onclick="deleteAlert('/Registrator/Home/Delete?pccoId={@item.IdPcco}')"><i class="bi bi-trash-fill"></i> Delete</a>
                        </td>
                    </tr>
                </tbody>
            }
        }
    </table>
</div>

<div id="legalItemsList" style="display: @legStyle; text-align: center;">
    <table id="tableLegData" class="cell-border hover compact">
        @if (Model.Legal.Count() != 0)
        {
            <thead>
                <tr>
                    @for (int i = 0; i < legFields.Length; ++i)
                    {
                        <th>@legFields[i]</th>
                    }
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            foreach (var item in Model.Legal)
            {
                <tbody>
                    <tr id="@item.GetHashCode()" onclick="expandRow(this.id)">
                        <td>@Html.DisplayFor(modelitem => item.Name)</td>
                        <td>@Html.DisplayFor(modelitem => item.IdentificationCode)</td>
                        <td>@Html.DisplayFor(modelitem => item.LegalForm)</td>
                        <td>@Html.DisplayTextFor(modelitem => item.IsResident)</td>
                        <td>@Html.DisplayFor(modelitem => item.CourtName)</td>
                        <td>@Html.DisplayFor(modelitem => item.CourtCaseNumber)</td>
                        <td>@Html.DisplayFor(modelitem => item.CourtSentenceDate)</td>
                        <td>@Html.DisplayFor(modelitem => item.CourtSentenceNumber)</td>
                        <td>@Html.DisplayFor(modelitem => item.CourtSentenceApplyingDate)</td>
                        <td>@Html.DisplayFor(modelitem => item.CriminalRecordCancellationDate)</td>
                        <td>@Html.DisplayFor(modelitem => item.CriminalRecordCancellationReason)</td>
                        <td>@Html.DisplayFor(modelitem => item.CriminalActionType)</td>
                        <td>@Html.DisplayFor(modelitem => item.CriminalActionCancellationDate)</td>
                        <td>@Html.DisplayFor(modelitem => item.CriminalActionCancellationReason)</td>
                        <td>@Html.DisplayFor(modelitem => item.DisciplinaryActionType)</td>
                        <td>@Html.DisplayFor(modelitem => item.DisciplinaryActionDetails)</td>
                        <td>@Html.DisplayFor(modelitem => item.DisciplinaryActionCancellationDate)</td>
                        <td>@Html.DisplayFor(modelitem => item.DisciplinaryActionCancellationReason)</td>
                        <td>@Html.DisplayFor(modelitem => item.ArticleNumber)</td>
                        <td>@Html.DisplayFor(modelitem => item.ArticleTitle)</td>
                        <td>@Html.DisplayFor(modelitem => item.ArticleContent)</td>
                        <td>@Html.DisplayFor(modelitem => item.OffenceDescription)</td>
                        <td>@Html.DisplayFor(modelitem => item.OffenceMethod)</td>
                        <td>@Html.DisplayFor(modelitem => item.OffenceLocation)</td>
                        <td class="text-center">
                            <a asp-action="UpsertLegal" class="btn btn-primary" asp-route-legalId="@item.IdLegal">Edit</a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-danger" onclick="deleteAlert('/Registrator/Home/Delete?pccoId=@item.IdPcco')">Delete</a>
                        </td>
                    </tr>
                </tbody>
            }
        }
    </table>
</div>

<div id="noData" style="display: @noDataStyle; text-align: center">
    <h4>No results found matching your search.</h4>
</div>

@section Scripts{
    <script src="~/js/registratorTables.js"></script>
    <script src="~/js/deleteAlert.js"></script>
}