@model PCCO.Models.ViewModels.RegistratorDto

@{ ViewData["Title"] = "Create Registrator";
    string[] fieldHeaders = new string[]
    {
        "First name", "Last name", "Middle name", "Identification code", "Work position", "Workplace", "Birthday", "Birthplace", "Residence", "Series", "Issuing authority code", "Unit name", "Department name", "Postal code", "Oblast", "City", "Street", "Building number", "Email", "Password"
    };
}

@using (@Html.BeginForm("CreateRegistrator", "Administrator", FormMethod.Post))
{
    <div class="raw">
        <div class="column">
            @Html.LabelFor(m => m.FirstName, fieldHeaders[0])
            <br />
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)
            <br /><br />
            @Html.LabelFor(m => m.LastName, fieldHeaders[1])
            <br />
            @Html.TextBoxFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName)
            <br /><br />
            @Html.LabelFor(m => m.MiddleName, fieldHeaders[2])
            <br />
            @Html.TextBoxFor(m => m.MiddleName)
            @Html.ValidationMessageFor(m => m.MiddleName)
            <br /><br />
            @Html.LabelFor(m => m.IdentificationCode, fieldHeaders[3])
            <br />
            @Html.TextBoxFor(m => m.IdentificationCode)
            @Html.ValidationMessageFor(m => m.IdentificationCode)
            <br /><br />
            @Html.LabelFor(m => m.WorkPosition, fieldHeaders[4])
            <br />
            @Html.TextBoxFor(m => m.WorkPosition)
            @Html.ValidationMessageFor(m => m.WorkPosition)
            <br /><br />
            @Html.LabelFor(m => m.Workplace, fieldHeaders[5])
            <br />
            @Html.TextBoxFor(m => m.Workplace)
            @Html.ValidationMessageFor(m => m.Workplace)
            <br /><br />
            @Html.LabelFor(m => m.Birthday, fieldHeaders[6])
            <br />
            @Html.TextBoxFor(m => m.Birthday)
            @Html.ValidationMessageFor(m => m.Birthday)
            <br /><br />
            @Html.LabelFor(m => m.Birthplace, fieldHeaders[7])
            <br />
            @Html.TextBoxFor(m => m.Birthplace)
            @Html.ValidationMessageFor(m => m.Birthplace)
            <br /><br />
            @Html.LabelFor(m => m.Residence, fieldHeaders[8])
            <br />
            @Html.TextBoxFor(m => m.Residence)
            @Html.ValidationMessageFor(m => m.Residence)
            <br /><br />
            @Html.LabelFor(m => m.Series, fieldHeaders[9])
            <br />
            @Html.TextBoxFor(m => m.Series)
            @Html.ValidationMessageFor(m => m.Series)
        </div>
        <div class="column">
            @Html.LabelFor(m => m.Code, fieldHeaders[10])
            <br />
            @Html.TextBoxFor(m => m.Code)
            @Html.ValidationMessageFor(m => m.Code)
            <br /><br />
            @Html.LabelFor(m => m.UnitName, fieldHeaders[11])
            <br />
            @Html.TextBoxFor(m => m.UnitName)
            @Html.ValidationMessageFor(m => m.UnitName)
            <br /><br />
            @Html.LabelFor(m => m.DepartmentName, fieldHeaders[12])
            <br />
            @Html.TextBoxFor(m => m.DepartmentName)
            @Html.ValidationMessageFor(m => m.DepartmentName)
            <br /><br />
            @Html.LabelFor(m => m.PostalCode, fieldHeaders[13])
            <br />
            @Html.TextBoxFor(m => m.PostalCode)
            @Html.ValidationMessageFor(m => m.PostalCode)
            <br /><br />
            @Html.LabelFor(m => m.Oblast, fieldHeaders[19])
            <br />
            @Html.TextBoxFor(m => m.Oblast)
            @Html.ValidationMessageFor(m => m.Oblast)
            <br /><br />
            @Html.LabelFor(m => m.City, fieldHeaders[14])
            <br />
            @Html.TextBoxFor(m => m.City)
            @Html.ValidationMessageFor(m => m.City)
            <br /><br />
            @Html.LabelFor(m => m.Street, fieldHeaders[15])
            <br />
            @Html.TextBoxFor(m => m.Street)
            @Html.ValidationMessageFor(m => m.Street)
            <br /><br />
            @Html.LabelFor(m => m.BuildingNumber, fieldHeaders[16])
            <br />
            @Html.TextBoxFor(m => m.BuildingNumber)
            @Html.ValidationMessageFor(m => m.BuildingNumber)
            <br /><br />
            @Html.LabelFor(m => m.Email, fieldHeaders[17])
            <br />
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
            <br /><br />
            @Html.LabelFor(m => m.Password, fieldHeaders[18])
            <br />
            @Html.TextBoxFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    <div>
        <button type="submit" class="subscribe btn btn-primary btn-block shadow-sm"> Save </button>
    </div>}