@model List<PCCO.Models.ViewModels.RegistratorDto>

@{ ViewData["Title"] = "Create Registrator";
    string[] fieldHeaders = new string[] { "First name", "Last name", "Middle name", "Identification code", "Work position", "Workplace", "Birthday", "Birthplace", "Residence", "Series", "Issuing authority code", "Unit name", "Department name", "Postal code", "City", "Street", "Building number", "Email", "Role" }; }

<div class="text-center" style="margin-bottom: 10px;">
        <a asp-action="CreateRegistrator" class="btn btn-primary">Create Registrator</a>
</div>

<div id="legalItemsList" style="text-align: center">
    <table class="allTables" border="1">
        <tr>
            @for (int i = 0; i < fieldHeaders.Length; ++i)
            {
                <th>
                    @fieldHeaders[i]
                </th>
            }
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
        @if (Model is null || Model.Count() == 0)
        {
            <a>No content</a>
        }
        else
        {
            foreach (var item in Model)
            {
    <tr>
        <td>
            @Html.DisplayFor(modelitem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayTextFor(modelitem => item.IdentificationCode)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.WorkPosition)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Workplace)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Birthplace)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Residence)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Series)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.UnitName)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.BuildingNumber)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Role)
        </td>
            @Html.HiddenFor(modelitem => item.UserId)
        <td class="text-center">
            <a asp-action="EditRegistrator" class="btn btn-primary" asp-route-id="@item.UserId">Edit</a>
        </td>
        <td class="text-center">
            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.UserId">Delete</a>
        </td>
    </tr>
            }
        }
    </table>
</div>