@model PCCO.Models.ViewModels.UserViewModel
@{
    ViewBag.Title = "Index";
    string noDataStyle = "none";
    if (ViewBag.NoData == null && Model.Individual.Count() == 0 && Model.Legal.Count() == 0)
        noDataStyle = "";
}

<div class="container py-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card ">
                <div class="card-header pt-4">
                    <div class="bg-white shadow-sm pl-2 pr-2">
                        <ul class="nav nav-pills mb-3 rounded nav-fill" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-individual-tab" data-bs-toggle="pill" data-bs-target="#pills-individual" type="button" role="tab" aria-controls="pills-individual" aria-selected="true"> Individual </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-legal-tab" data-bs-toggle="pill" data-bs-target="#pills-legal" type="button" role="tab" aria-controls="pills-legal" aria-selected="false"> Legal </button>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="pills-tabContent" style="text-align:left">
                        <div class="tab-pane fade show active" id="pills-individual" role="tabpanel" aria-labelledby="pills-individual-tab">
                            <form asp-action="Index" asp-controller="Home" asp-area="User" method="get">
                                @await Html.PartialAsync("_PartialSearchInd")
                            </form>
                        </div>

                        <div class="tab-pane fade" id="pills-legal" role="tabpanel" aria-labelledby="pills-legal-tab">
                            <form asp-action="Index" asp-controller="Home" asp-area="User" method="get">
                                @await Html.PartialAsync("_PartialSearchLeg")
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Individual.Count() != 0)
{
    <div id="individualItemsList">
        <table id="tableUserIndData" style="text-align: center;" class="cell-border hover">
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>Work position</th>
                    <th>Workplace</th>
                    <th>Offence description</th>
                    <th>Article number</th>
                    <th>Article title</th>
                    <th>Article content</th>
                    <th>Court name</th>
                    <th>Court case number</th>
                    <th>Court sentence date</th>
                    <th>Court sentence number</th>
                    <th>Court sentence applying date</th>
                    <th>Disciplinary action details</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Individual)
                {
                    <tr id="@item.GetHashCode()" onclick="expandRow(this.id)">
                        <td>
                            @Html.DisplayFor(modelitem => item.LastName) @Html.DisplayFor(modelitem => item.FirstName) @Html.DisplayFor(modelitem => item.MiddleName)
                        </td>
                        <td>@Html.DisplayFor(modelitem => item.WorkPosition)</td>
                        <td>@Html.DisplayFor(modelitem => item.Workplace)</td>
                        <td>@Html.DisplayFor(modelitem => item.OffenceDescription)</td>
                        <td>@Html.DisplayFor(modelitem => item.ArticleNumber)</td>
                        <td>@Html.DisplayFor(modelitem => item.ArticleTitle)</td>
                        <td>@Html.DisplayFor(modelitem => item.ArticleContent)</td>
                        <td>@Html.DisplayFor(modelitem => item.CourtName)</td>
                        <td>@Html.DisplayFor(modelitem => item.CourtCaseNumber)</td>
                        <td>@Html.DisplayFor(modelitem => item.CourtSentenceDate)</td>
                        <td>@Html.DisplayFor(modelitem => item.CourtSentenceNumber)</td>
                        <td>@Html.DisplayFor(modelitem => item.CourtSentenceApplyingDate)</td>
                        <td>@Html.DisplayFor(modelitem => item.DisciplinaryActionDetails)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (Model.Legal.Count() != 0)
{
    <div id="legalItemsList" style="text-align: center;">
        <table id="tableUserLegData" class="cell-border hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Identification code</th>
                    <th>Offence description</th>
                    <th>Disciplinary action details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Legal)
                {
                    <tr id="@item.GetHashCode()" onclick="expandRow(this.id)">
                        <td>@Html.DisplayFor(modelitem => item.Name)</td>
                        <td>@Html.DisplayFor(modelitem => item.IdentificationCode)</td>
                        <td>@Html.DisplayFor(modelitem => item.OffenceDescription)</td>
                        <td>@Html.DisplayFor(modelitem => item.DisciplinaryActionDetails)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div id="noData" style="display: @noDataStyle; text-align: center">
    <h4>No results found matching your search.</h4>
</div>

@section Scripts{
    <script src="~/js/userTables.js"></script>
}